// Farben und Text
$text-color: var(--text-color);
$text-color-secondary: var(--text-color-secondary);
$primary-color: var(--primary-color);
$primary-color-text: var(--primary-color-text);

// Schriftart
$font-family: var(--font-family);

// Abstände und Layout
$inline-spacing: var(--inline-spacing);
$border-radius: var(--border-radius);

// Dark Gray für Tabellenheader
$dark-gray: var(--surface-500);
